
.header-top{
  height: 60px;
  background-color: #0F1111;
  font-size: 14px;
  display: flex;
  color: white;
  padding-right: 8px;
  padding-bottom: 10px;
}

.header-menu{
  display: flex;
  padding: 9px 8px 8px 8px;
  width: 100%;
}


.header-menu-location{
  padding-top: 5px;
}

.header-menu-left-line-two{
  padding: 0px 5px;

}
.logo-header{
  color: #febd69;
  padding-top: 10px;
  padding-right: 10px;
font-size: 33px;
transition: all 3s linear;
}

@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
   10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
   100% { transform: scale(1,1)    translateY(0); }
}

.logo-header:hover{
  font-weight: 600;
  color: rgb(208, 255, 0);
  animation: bounce 5s infinite;

}


.header-menu-icon > mat-icon{

font-size: 40px;
align-items: center;
padding-right: 2rem;
color: #ede5da;
}

.header-menu-input{
  height: 20px;
  padding: 10px;
  border: none;
  width: 30rem;
  /* margin-left: 2rem; */
  border-radius: 2px;
  border-color:#232f3e;
}

.header-menu-searchbar-icon{
  background-color: #febd69;
  height: 40px;
  width: 40px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 3rem; */
}


.header-menu-searchbar-icon:hover{
  background-color: rgba(249, 142, 42, 0.966);
}

.header-menu-searchbar-icon>mat-icon>a{
  text-decoration: none;
  color: black;
}

.header-menu-cart{
  display: flex;
  margin-top: 10px;
  /* margin-left: 8px; */
  height: 50px;
  justify-content: space-around;
}



.header-menu-cart> mat-icon>a{
  text-decoration: none;
  color: white;
}



.header-menu>div{
  margin: 8px;
  cursor: pointer;
}

.header-menu-searchbar{
  display: flex;
  margin-top: 8px;
  height: 40px;
  justify-content: center;
  flex: 1;
cursor: pointer;
}

.header-menu-logo{
  object-fit: contain;
  width: 100px;
  margin: 12px 20px 0% 2px;

}

.header-menu-signin{
  display: flex;
  flex-direction: column;
  /* padding-right: 2rem; */
  cursor: pointer;
}

.header-menu-signin a{
  text-decoration: none;
  word-spacing: 1.5px;

}



.header-menu-top-item{
color: lightgray;
font-size: 13px;
}

.header-menu-bottom-item{
  font-size: 13px;
  font-weight: 500;
}

.header-menu-cart{
  padding-top: 10px;
  cursor: pointer;

}
.header-menu-cart>mat-icon>a{

  transition: all 5s linear;
}

.header-menu-cart>mat-icon>a:hover{
  color: #1fe42cfb;
  transition: all 1s linear;
}
.wishlist-cart-icon:hover{
  animation: heartbeat 0.5s  infinite reverse ;
  transform-origin: center;

}
@keyframes heartbeat{
  to{transform: scale(1.2);}
}

/* #prod-cart{
  transition: all 3s linear;
} */

#prod-cart:hover{
  animation: shake 1.5s forwards;
  color: hsl(34, 99%, 70%);

}
@keyframes shake {
  10%{
    transform:rotate(15deg)
  }
  20%{
    transform:rotate(-15deg)
  }
  30%{
    transform:rotate(15deg)
  }
  50%{
    transform:rotate(0deg)
  }
}
 .wishlist-cart-icon{
  font-size: x-large;
  color: #f6f0f0;
}

.wishlist-cart-icon:hover{
  color: #fd0101;
}



.header-cart-number{
  color: #febd69;
  font-size: 18px;
  font-weight: 800;
}

.header-cart-number1{
  color: #febd69;
  font-size: 18px;
  font-weight: 800;
padding-right: 10px;
padding-left: 2px;

}

/* .header-bottom{
  height: 30px;
  background-image: none;
  background-color: #232f3e;
  padding-left: 8px;
  font-size: 12px;
  padding-top: 5.5px;
  border-bottom: 2px solid #febd69;

}

.header-bottom-list >a{
  color: white;
display: inline;
padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 70px;
  text-decoration: none;

}

/* 480px mobile device */

/* @media (max-width: 480px) {
  .header-top{
    height: 40px;
    background-color:  #0F1111;
    font-size: 8px;
    display: flex;
    color: white;
    padding-right: 3px;
    padding-bottom: 10px;

  }
  .header-menu-searchbar-icon{
    background-color: #febd69;
    height: 10px;
    width: 10px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-right: 3rem;
  }

  .logo-header{
    color: #febd69;
    padding-top: 8px;
    padding-right: 4px;
  font-size: 6px;

  }

  .header-menu-icon > mat-icon{

    font-size: 15px;
    align-items: center;
    padding-right: 0.2rem;
    }

    .header-menu-input{
      height: 7px;
      padding: 8px;
      border: none;
      width: 3rem;
      /* margin-left: 2rem;
      border-radius: 2px;
      border-color:#232f3e;
    }

    .header-menu-searchbar-icon{
      background-color: #febd69;
      height: 23px;
      width: 15px;
      color: black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      /* margin-right: 3rem;
    }


    .header-menu-searchbar-icon:hover{
      background-color: rgba(249, 142, 42, 0.966);
    }

    .header-menu-searchbar-icon>mat-icon{
      text-decoration: none;
      color: black;
      padding-top: 10px;
      font-size: 14px;
    }

    .header-menu-cart{
      display: flex;
      margin-top: 10px;
      /* margin-left: 8px;
      height: 50px;
      justify-content: space-around;
    }

    .header-bottom-list >a{
      color: white;
    display: inline;
    padding-right: 4px;
      font-size: 6px;
      font-weight: 500;
      padding-left: 6px;
      text-decoration: none;

    }


.header-menu-location{
padding-top: 1px;
  font-size: 4px;
}

.header-menu-left-line-two{
  padding: 0px 3px;

}

}


@media(max-width: 1067px){
  .header-bottom-list >a{
    color: white;
  display: inline;
  padding-right: 4px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 6px;
    text-decoration: none;

  }
}
*/
